@media only screen and (max-width: 900px) {
  .header .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .navigation {
    padding-left: 20px;
  }

  .profile {
    border-bottom: 0px;
  }

  .profile__header {
    font-size: 35px;
    padding-left: 30px;
  }

  .profile-form {
    padding-left: 30px;
  }

  .submit-btn__wrapper {
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .profile-form__input {
    margin-right: 20px;
  }
  .catalog {
    padding-left: 20px;
  }

  .catalog__header {
    font-size: 30px;
  }

  .catalog-btn {
    right: 20px;
    top: 10px;
  }

  .popup__header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
  }

  .popup__inner {
    padding-left: 16px;
    flex-direction: column;
    gap: 40px;
    padding-top: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
  }

  .navigation {
    flex-direction: row;
    white-space: nowrap;
    border-right: none;
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
  }

  .navigation :nth-last-child(1) {
    margin-left: auto;
  }

  .profile-form__header-wrapper {
    border-bottom: none;
  }

  .profile-form__input {
    width: 100%;
  }

  .profile__header {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
  }

  .profile {
    width: 100%;
  }

  .profile-form__label {
    margin-bottom: 8px;
  }

  .profile-form__input {
    box-sizing: border-box;
    height: 56px;
    margin-bottom: 16px;
  }

  .profile-form {
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    max-width: 100%;
  }

  .profile-form__header {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .catalog__header {
    font-size: 28px;
    font-weight: 500;
  }

  .submit-btn__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .submit-btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 340px;
  }

  .catalog-btn {
    top: unset;
    bottom: 32px;
    height: fit-content;
    left: 16px;
  }

  .catalog {
    padding-bottom: 88px;
  }

  .catalog-container {
    padding-left: 16px;
  }

  .header .container {
    padding-left: 21px;
    padding-right: 16px;
  }

  .menu__phone {
    margin-right: 10px;
  }

  .menu__burger-btn {
    margin-left: 16px;
  }

  .logo {
    padding-left: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .menu__phone span {
    display: none;
  }

  .catalog-list {
    padding-right: 100px !important;
  }
}
